<div class="container">
    <div class="jumbotron">
      <h1>Taxi Tour Guide</h1>
      <p>Worrying about tourist spots so you don't have to.</p>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1><%= link_to "See all Taxi Tour Guides", tourguides_path %></h1>
    </div>
    <div class="col-sm-6">
      <h1><%= link_to "See all Tourist Spots", destinations_path %></h1>
    </div>
  </div>
</div>
