<footer class="footer">
  <small>
    App created from <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li>More tutorials from <a href="http://news.railstutorial.org/">Learn Enough</a></li>
    </ul>
  </nav>
</footer>
