<li>
  <%= image_tag user.avatar.url(:thumb) if user.avatar? %>
  <%= link_to "#{user.first_name} #{user.last_name}", user %>
  <% if logged_in? %>
    <% if current_user.admin? && !current_user?(user)%>
      | <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?"} %>
    <% end %>
  <% end %>
</li>
