@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
$gray-light: #a0a0a0;

body {
  padding-top: 60px;
  background-color: #111111;
  color: rgb(255, 255, 255);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;


}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a {
  color: #b73333;
  &:hover {
    color: #902828;
    text-decoration: underline;
  }
}

.btn-primary, .btn {
    color: #fff;
    background-color: #b73333;
    border-color: #a42e2e;
    &:hover,  {
      background-color: #902828;
      border-color: #742020;
    }
    &:active {
      background-color: #902828;
      border-color: #742020;
      &:focus {
        background-color: #742020;
        border-color: #401212;
      }
      &:hover {
        background-color: #742020;
        border-color: #401212;
      }
    }
    &:focus {
      background-color: #902828;
      border-color: #742020;
    }
}



.form-control {
  color: #eeeeee;
  background-color: #000;
  background-image: none;
  border: 1px solid #333333;
  &:focus {
    border-color: #e96666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
  }
}

/**********Pagination**********/
.pagination {
  li {
    a {
      color: #b73333;
      background-color: #000;
      border: 1px solid #383838;
      &:hover {
        color: #7c2323;
        background-color: #0e0e0e;
        border-color: #252525;
      }
    }
  }
  .active {
    color: #000;
    background-color: rgb(183, 51, 51);
    border-color: #b73333;
    a {
      color: #000;
      background-color: #b73333;
      border-color: #b73333;
      &:hover {
        color: #000;
        background-color: #b73333;
        border-color: #b73333;
      }
    }
  }
  .disabled > a {
    color: #989898;
    background-color: #000;
    border-color: #212121;
    &:hover {
      color: #8a8a8a;
      background-color: #000;
      border-color: #212121;
    }

  }

}

/**********Dropdown**********/

.dropdown-menu {
  background-color: #222;
  li {
    a{
      color: #ffffff;
      &:hover {
        color: #bfbfbf;
        background-color: #b73333;
      }
    }

  }
}




/* typography */



h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    &:hover {
      color: #902828;
    }
  background-color: #222;
  border-color: #222;
}

.navbar-inverse{
  background-color: #222;
  border-color: #222;
  .navbar-nav > li > a {
      color: #ffffff;
      &:hover {
        color: #902828;
      }
  }
}



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #902828;
    text-decoration: none;
  }
}
/*img {
  display: none;
}*/

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: rgb(255, 255, 255);
  a {
    color: #a0a0a0;
    &:hover {
      color: #902828;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #2d2d2d;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #902828;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  background-color: #000000;
  border: 1px solid #222222;

}

input {
  height: auto !important;
}
/* views/shared/_error_messages.html.erb */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #111111;;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #111111;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.jumbotron {
  background-color: #3a3a3a;
}
